/***************************************************************************
*   filename    : flottes_style.css
*   desc.       : css style pour le mod Flottes de OGSPy
*   Author      : AirBAT
*   created     : 18/04/2008
*   by          : AirBAT
*   modified    : -
*   last modif. : created
***************************************************************************/

table.flottes_h {
	margin-top: 20px;
	width: 200px;
	height: 50px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #2F4F4F;
	background-color: #000000;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
}
td.flottes_h {
	font-size: 22px;
	font-variant: small-caps;
	color: #ffffff;
}

table.menu {
	margin-top: 20px;
	width: 100%;
	height: 30px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #2F4F4F;
}

table.xtense2 {
	margin-top: 20px;
	width: 600px;
	height: auto;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #2F4F4F;
	background-color: #000000;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
}

table.xtense2_f {
	margin-top: 20px;
	width: 200px;
	height: 50px;
	height: auto;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #2F4F4F;
	background-color: #000000;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
}

td.xtense2_h {
	border-style: solid;
	border-width: 1px;
	border-color: #2F4F4F;
   vertical-align: middle;
   font-size: 16px;
	font-variant: small-caps;
   color: #ffffff;
   background-color: #000000;
	text-align: center;
	height: 50px;
}

td.xtense2_f {
	border-style: solid;
	border-width: 1px;
	border-color: #2F4F4F;
   vertical-align: middle;
   font-size: 16px;
	font-variant: small-caps;
   color: #ffffff;
   background-color: #000000;
	text-align: center;
	height: 50px;
	cursor: pointer;
}

td.menu_on {
	border-style: solid;
	border-width: 1px;
	border-color: #2F4F4F;
	font-size: 11px;
	background-color: #FAEBD7;
	vertical-align: middle;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	font-variant: small-caps;
	color: #000000;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
}

td.menu_off {
	border-style: solid;
	border-width: 1px;
	border-color: #2F4F4F;
	cursor: pointer;
	font-size: 10px;
	background-color: #000000;
	vertical-align: middle;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
}

td.status1 {
	border-style: solid;
	border-width: 1px;
	border-color: #2F4F4F;
    vertical-align: middle;
    font-size: 14px;
    color: yellow;
    background-color: _transparent_;
	 text-align: center;
}

td.status {
	border-style: solid;
	border-width: 1px;
	border-color: #2F4F4F;
   vertical-align: middle;
   font-size: 14px;
   color: #ffffff;
   background-color: _transparent_;
	text-align: center;
}

div.footer {
	width: 300px;
	height: 50px;
	border-style: solid;
	border-width: 1px;
	border-color: #2F4F4F;
	font-size: 10px;
	background-color: #000000;
	vertical-align: middle;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	text-decoration: none;
	color: Aqua;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	display: table-cell;
}